<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table style="width:100%">
    <tr>
        <th>Imię Klienta</th>
        <th>Nazwisko Klienta</th>
        <th>Pesel</th>
        <th>Nazwa produktu</th>
        <th>Wartość produktu</th>
        <th>Nazwa kredytu</th>
    </tr>
    <th:block th:each="list : ${listToView}">
        <tr align="center">
            <td th:text="${list.clientName}"></td>
            <td th:text="${list.clientLastName}"></td>
            <td th:text="${list.clientPesel}"></td>
            <td th:text="${list.productName}"></td>
            <td th:text="${list.productValue}"></td>
            <td th:text="${list.creditName}"></td>
        </tr>
    </th:block>
</table>

</body>
</html>