<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>

    <th:block th:each="credit : ${creditList}">
        <tr>
            <td th:text="${customerList.get(credit.ID).getFirstName()}"></td>
            <td th:text="${customerList.get(credit.getID()).getSurname()}"></td>
            <td th:text="${customerList.get(credit.getID()).getPesel()}"></td>
            <td th:text="${productList.get(credit.getID()).getProductName()}"></td>
            <td th:text="${productList.get(credit.getID()).getValue()}"></td>
            <td th:text="${credit.creditName}"></td>
        </tr>
    </th:block>
</table>

</body>
</html>